@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
  width: 100%;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Open Sans;
  font-weight: 600;
}

p {
  font-family: Open Sans;
  font-weight: 300;
}

a:hover, a:checked, a:focus {
  text-decoration: none;
  color: #555;
}

#header {
  width: 100%;
  height: 300px;
  background-color: #4d67ac;
}
